[credential]
    helper = store
[user]
    name = Richard Klein Leugemors
    email = richard@uzori.com
[core]
    autocrlf = input
    #editor = vim
    editor = code --wait
    pager = cat
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[diff]
    tool = code
[difftool "code"]
    cmd = "code --wait --diff $LOCAL $REMOTE"
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    path = /usr/bin/kdiff3
[alias]
    lg = log -10 --pretty=format:'%Cgreen%an%Creset committed %Cred%h%Creset on %Cblue%cd%Creset'
    unstate = restore --staged .
