#!/usr/bin/env zsh
#############################################################################
##         _    _
##    _ __| | _| |
##   | '__| |/ / |   Richard Klein Leugemors
##   | |  |   <| |   https://www.github.com/leugemors/
##   |_|  |_|\_\_|
##
##   Just a bunch of handy aliases for my personal use.
##
#############################################################################

# ---------------------------------------------------------------------------
#  Enable colour support and add some colourful aliases
# ---------------------------------------------------------------------------

if [ -x /usr/bin/dircolors ]; then
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
    alias diff='diff --color=auto'
    alias ip='ip --color=auto'
fi

# ---------------------------------------------------------------------------
#  The old-fashioned ls command, replaced with eza
# ---------------------------------------------------------------------------

# alias ls='ls --color=auto -CF'
# alias l='ls -lF
# alias la='ls -AF'
# alias ll='ls --group-directories-first -AlF'

alias man='batman'

alias lsblkc='lsblk | bat -l conf -p'
alias freec='free -h | bat -l conf -p'
alias dfc='df -h --total -x tmpfs | bat -l conf -p'

# ---------------------------------------------------------------------------
#  Switched to eza (suckless tools)
# ---------------------------------------------------------------------------

alias eza='eza --color=always --group-directories-first --icons=auto'

# The option F breaks the auto complete feature for eza :-(
alias l='eza -lg'
alias ls='eza -g'
alias la='eza -a'
alias ll='eza -algh'
alias lt='eza -aT'
alias ltr='eza -alghr -sold'

# ---------------------------------------------------------------------------
#  Easy cd (switched to zoxide)
# ---------------------------------------------------------------------------

# Use zoxide for easy directory navigation
# alias cd='z'

alias up='cd ..'
alias .l='cd ..;ls'
alias .1='cd ..'
alias .2='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

# Function to create a new directory and enter it right away
alias nd='dir(){mkdir $1;cd $1;unset -f dir};dir'

alias dl='cd ~/Downloads'
alias doc='cd ~/Documents'
alias dotfiles='cd ~/dotfiles'
alias work='cd ~/Work'

alias cursus='cd ~/Work/cursus'
alias edu='cd ~/Work/eduarte'
alias leug='cd ~/Work/leugemors'
alias misc='cd ~/Work/misc'
alias uzori='cd ~/Work/ansible/uzori'

alias nasi='cd /mnt/nasi'
alias fairy='cd /mnt/nasi/thijs/fairytale'
alias fd25='echo Flapdrol, het is al 2026.'
alias fd26='cd /mnt/nasi/thijs/fd26'

alias notes='cd ~/Notes'
alias prive='cd ~/Prive'
alias rwf='cd ~/Prive/rwf'
alias thijs='cd /data/thijs'

alias iso='cd /data/iso'

# Projects i'm working on right now
alias conf='cd ~/Work/eduarte/school-configs'
alias infra='cd ~/Work/eduarte/tf-school-infra'
alias nftp='cd ~/Work/temp/sftp'
alias power='cd ~/Work/powershell/scripts'

# ---------------------------------------------------------------------------
#  G1t aliasses
# ---------------------------------------------------------------------------

alias addup='git add -u'
alias addall='git add .'
alias blame='git blame'
alias branch='git branch'
alias checkout='git checkout'
alias clone='git clone'
alias commit='git commit -m'
alias fetch='git fetch'
alias main='(git checkout main || git checkout master) && git branch'
alias newtag='git tag -a'
alias prune='git pull --prune'
alias pull='git pull origin --prune'
alias purge='git branch --merged | grep -Ev "(^\*|main|master|dev)" | xargs git branch -d'
alias push='git push origin'
alias status='git status'
alias tag='git tag'
alias mpp='main; pull; purge' # Because I am lazy :-)

# ---------------------------------------------------------------------------
#  Some handy aliasses
# ---------------------------------------------------------------------------

alias vi='vim'
# alias vim='nvim'

alias activate="source bin/activate"
alias check="shellcheck --color=auto -o all -x -S style"
alias diff='colordiff -Nuar'
alias dus='du -h --max-depth=1 | sort -h'
alias grubup='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias hex='hexedit --color'
alias hw='hwinfo --short'
alias jctl='journalctl -p 3 -xb'
alias keyb='vim ~/.config/hypr/conf/keybindings/richard.conf'
alias koers='/usr/local/bin/nostt 502'
alias moni='vim ~/.config/hypr/conf/monitors/richard.conf'
alias ncdu='ncdu -x -e --color dark'
alias ports='netstat -tlpn'
alias pscpu='ps auxf | sort -nr -k 3 | head -10'
alias psmem='ps auxf | sort -nr -k 4 | head -10'
alias showip='curl ipv4.icanhazip.com; curl ipv6.icanhazip.com'
alias ssha='eval $(ssh-agent) && ssh-add'
alias tf='terraform'
alias tm='terramate'
alias vnet='sudo virsh net-create /etc/libvirt/qemu/networks/default.xml'
alias phone='gio mount "mtp://Fairphone_Fairphone_5_5G_84ed7587/"'
alias usb='sudo mount -o uid=richard,gid=richard /dev/sda1 /mnt/usb/sda1'
alias wget='wget -c'

# ---------------------------------------------------------------------------
#  Maintenance and updates
# ---------------------------------------------------------------------------

alias apt='man pacman' # :-)
alias cleanup='sudo pacman -Rns $(pacman -Qdtq) && sudo pacman -Sc && sudo pacman -Scc'
alias fixpacman='sudo rm -rf /var/lib/pacman/db.lck && sudo pacman -Syyu'
alias list='yay -Q | grep --color=auto $1'
alias mirror='sudo cachyos-rate-mirrors'
alias update='yes | yay -Syyu'

# ---------------------------------------------------------------------------
#  Fun stuff
# ---------------------------------------------------------------------------

alias epoch='date +%s'
alias klok='watch -t -n1 "date +%T | figlet"'
alias maan='curl wttr.in/Moon'
alias please='sudo' # als je 't maar vriendelijk vraagt
alias say='espeak -a 200 -g 4 -p 40 -v "nl"'
alias starwars='telnet towel.blinkenlights.nl'
alias verse='/usr/bin/random_verse'
alias weer='curl wttr.in/malburgen'
alias wetter='curl wttr.in/wasserliesch'

# ---------------------------------------------------------------------------
#  Some fastfetch aliasses
# ---------------------------------------------------------------------------

alias motd='cat /etc/motd'

alias ff='clear; fastfetch'
alias f1='clear; fastfetch --logo arch --config examples/13'
alias f8='clear; fastfetch --logo arch --config examples/8'

alias cls='f8' # for old time sake :-)

# ---------------------------------------------------------------------------
#  One letter aliases
# ---------------------------------------------------------------------------

alias a='vim ~/.aliases && source ~/.aliases'
alias c='cmatrix -bsu3 -C magenta'
alias d='ncdu -x -e --color dark'
alias f='echo; df -hlT --total -x tmpfs 2> /dev/null; echo'
alias g='lazygit'
alias h='history -i 0 | tail -n 48'
alias i='yay -S'
alias j='vim ~/.zshrc && source ~/.zshrc'
alias k='kubectl'
alias m='/usr/local/bin/monitor'
alias n='newsboat -r'
alias o='cd ~/Notes; vim index.md; cd -'
alias p='vim ~/.config/picom/picom.conf && pkill picom && picom --daemon --config ~/.config/picom/picom.conf'
alias q='vim ~/.config/qtile/config.py'
alias s='yay -Ss'
alias t='vim ~/.config/alacritty/alacritty.toml'
# alias t='vim ~/.config/ghostty/config'
alias u='cd ~/Notes; vim eduarte/admin/uren-schrijven.md; cd -'
alias v='vim ~/.vim/vimrc'

# alias w='echo "This letter is not available."'
# alias y='echo "This letter is not available."'
# alias z='echo "This letter is not available."'

alias b='echo "No alias defined for this letter."'
alias e='echo "No alias defined for this letter."'
alias r='echo "No alias defined for this letter."'
alias x='echo "No alias defined for this letter."'

# alias p='echo -e ${PATH//:/\\n} | bat'
# alias q='cd ~/.config/qtile; vim ~/.config/qtile/config.py && qtile cmd-obj -o cmd -f restart; cd -'

# ---------------------------------------------------------------------------
#  Set font for text terminals
# ---------------------------------------------------------------------------

alias fontvga='setfont Lat2-VGA32x16'
alias fontterm='setfont Lat2-Terminus32x16'

# ---------------------------------------------------------------------------
#  Connect to my work vpn
# ---------------------------------------------------------------------------

alias vpne='sudo killall openvpn; sudo openvpn --config ~/.ssh/vpn/azure-eduarte.conf &; sleep 5; disown; ip route'
alias dnse='sudo resolvectl dns tun0 10.160.2.4 10.160.2.5; sudo resolvectl domain tun0 eduarteaad.nl; resolvectl status'
alias vpn='vpne; dnse'

# ---------------------------------------------------------------------------
#  Trying out some new aliases
# ---------------------------------------------------------------------------

alias rkld='docker ps -a | fzf --preview "docker inspect {1}"'
alias rklv='vim $(fzf -m --preview "bat --color=always {}")'

### eof #####################################################################
