#############################################################################
##         _    _
##    _ __| | _| |
##   | '__| |/ / |   Richard Klein Leugemors
##   | |  |   <| |   https://www.github.com/leugemors/
##   |_|  |_|\_\_|
##
##   As you might have guessed, my personal git configuration file.
##
#############################################################################

[init]
	defaultBranch = main

[alias]
    br = branch
    ci = commit
    cl = clone
    co = checkout
    lg = log --oneline --graph --decorate --all
    st = status
    unstate = restore --staged .

[pull]
    rebase = true

[user]
    name = Richard Klein Leugemors
    email = richard@uzori.com

[credential]
    helper = store

[core]
    compression = 9
    whitespace = error
    preloadIndex = true
    autocrlf = input
    editor = vim
    pager = bat

[advice]
    addEmptyPathspec = false
    pushNonFastForward = false
    statusHints = false
    commitBeforeMerge = true

[status]
    branch = true
    showStash = true
    showUntrackedFiles = all

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[diff]
    context = 3
    renames = copies
    interHunkContext = 10
    tool = vim

[difftool "vim"]
    cmd = "vim -d $LOCAL $REMOTE"

[pager]
    diff = "diff-so-fancy | less --tabs=4 -RFX"

[diff-so-fancy]
    markEmptyLines = false
    pager = true
    line-numbers = true
    color = always
    git-status = true
    git-log = true

[color "diff"]
    old = red
    new = green
    frag = yellow
    meta = cyan
    whitespace = red reverse

[merge]
    tool = kdiff3

[mergetool "kdiff3"]
    path = /usr/bin/kdiff3

[url "https://github.com/leugemors/"]
    insteadOf = "lm:"
[url "https://github.com/topicusonderwijs/"]
    insteadOf = "to:"
[url "https://github.com/"]
    insteadOf = "gh:"

### eof #####################################################################
